body {
    font-family: "Arial", "Meiryo", sans-serif ;
    text-align: center;
    }
        
  
    h1 {
    font-size: 40px ;
    font: Skyblue;
    font-family: 'Josefin Sans';
    }
    
    #Skyblue {
    color: Skyblue;
    }
    
    #rgb {
    color: rgb(255, 192, 203);
    }
    