/* 18章の課題 */

 #top{
      width: 800px;
      height: 50%
      color: #dcc9f4;
      maargin: 20px auto;
      text-aline center;
      background-color: #ffd9df;

   .top-child {         width: 800px;
         width: 20%
         display: inline-block;
         text-align: center;
         background-color: #ffd9df
    }

    #middle {
      width: 200px;
      height: 100%
      color: #dcc9f4;
      marginl 20px;
      background-color: #ffd9df;
      position: relative;   
    }

    #middle-child001 {
      width: 200px;
      height: 200%
      position: absolute;
      top: 100px;
      left: 100px;
      background-color: #87ceeb;   
    } 
    #middle-child002 {
      width: 200px;
      height: 200%
      position: absolute;
      top: 300px;
      left: 300px;
      background-color: #87ceeb;   
    }
    #middle-child003 {
      width: 200px;
      height: 200%
      position: absolute;
      top: 500px;
      left: 500px;
      background-color: #87ceeb;   
    }  

    #bottom {
      width: 800px;
      height: 300px;
      margin 0 auto;
      background-color: #87ceeb;
      position: relative;   
    }

    #bottom-child001 {
      width: 400px;
      height: 100px;
      background-color: #e5dcf0;   
    } 

    #bottom-child002 {
      width: 400px;
      height: 100px
      background-color: #e5dcf0;
      position: relative;
      margin-left: 200px;
    }

    #bottom-child003 {
      width: 400px;
      height: 100px
      background-color: #e5dcf0; 
      position: relative;
      margin-left: 400px;
   }  